body { margin-top: 50px; }

.carousel { background: #000; }
.carousel .item { height: 350px; overflow: hidden; }
.carousel .item img { width: 100%; height: auto; margin-top: -35%; }
.carousel-caption a { color: #fff; }

.blog-element { display: block; height: 200px; overflow: hidden; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.blog-element a { color: #fff; text-shadow: 0 1px 3px rgba(0,0,0,.5) }

/*
.second-row-padding:nth-child(2) { padding-right: 0; }
.second-row-padding:nth-child(3) { padding-left: 0; }

.third-row-padding { padding: 0; }
.third-row-padding:nth-child(4) { padding-left: 15px; }
.third-row-padding:last-child { padding-right: 15px; }
*/
.no-margin { margin: 0; }
.blog-item { padding: 0; }

/* header search form ================== */
.search-form-container { display: none; position: fixed; top: 50px; left: 0; right: 0; background-color: rgba(0,0,0,.35); padding: 20px; z-index: 2; }
.open-search a { font-size: 0; width: 30px; position: relative; }
.open-search a:after { 
display: block;
position: absolute; 
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: 400;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content:"\e003";
font-size: 20px;
left: 0;
top: 50%;
line-height: 1em;
margin-top: -0.5em;
}
